.dashboard-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 90%;
    justify-content: center;
    margin: auto;
    height: auto;
    gap: 30px;
    margin-top: 20px;
    padding: 20px 10px;
    background-color: none;
    
    /* border: 1px solid rgb(233, 217, 4); */
    /* border: 2px solid rgb(8, 126, 139); */
    border-bottom: 5px solid rgba(28, 49, 35, 0.15);
    border-radius: 12px;
    gap: 5px;
    margin-bottom: 2px;
    font-family: 'Sansation', sans-serif;
}
.dashboard-container h1{
    text-align: center;
    font-family: 'Fondamento', cursive;
}
.dashboard-container p{
    font-family: 'Fondamento', cursive;
}
.dashboard-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.officail-left-side h2, .inkwall-metrics-right-side h2{
    text-align: center;
}
.officail-left-side{
    background-color: #4b5f51;;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inkwall-metrics-right-side{
    background-color: #e36d05;
    border-radius: 8px;
    padding: 10px;

}
.officail-left-side button{
    text-align: left;
    /* width: 28%; */
    padding: 14px;
    font-family: 'Sansation', sans-serif;
    font-size: 1rem;
    margin-top: 8px;
    font-weight: 700;
    color: #000000;
    background-color: whitesmoke;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    align-self: flex-start;
}
.officail-left-side button:hover{
    background-color: #000000;
    color: white;
}